<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathforeveryone">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MathForEveryone">
        <activity
            android:name=".KenmaKetlik"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FindMissingNumber"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameSequence"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameSubtract"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RightAnswer"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameAdd"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChooseCategory"
            android:configChanges="orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>